<html>
    <head>
        <script src="angular.js" ></script>
        <script>
                var app=angular.module("mymodule9",[])
               .controller("mycontroller9",function($scope){

                 var emp=[
                     { name:"Ajay",dateOfBirth: new Date("Nov 23, 1980"),gender:"Male",salary:55000},
                     { name:"Karan",dateOfBirth: new Date("Jan 3, 1980"),gender:"Male",salary:85000},
                     { name:"Sumit",dateOfBirth: new Date("June 14, 1980"),gender:"Male",salary:75000},
                     { name:"Rajal",dateOfBirth: new Date("Nov 11, 1980"),gender:"Female",salary:95000},
                     { name:"Manisha",dateOfBirth: new Date("Nov 23, 1980"),gender:"Female",salary:55000}
                 ];
                 $scope.emp=emp;
                 $scope.sortCol='name';
                 $scope.reverseSort=false;

                 $scope.sortData=function(column)
                 {
                     $scope.reverseSort=($scope.sortCol==column)?!$scope.reverseSort:false;
                     $scope.sortCol=column;
                 }
                  
                 $scope.getSortClass=function(column)
                 {
                      if($scope.sortCol==column)
                      {
                          return $scope.reverseSort?'.arrow-down':'.arrow-up';
                      }
                 }
            
               })

        </script>
        <link href="style.css" rel="stylesheet"/>
    </head>
    <body ng-app="mymodule9">
           
          <div ng-controller="mycontroller9">
               <h1>Click to Column</h1>    
              <br>
              <br>
                  <table>
                      <thead>                
                      <tr>
                          <th ng-click="sortData('name')">Name
                              <div ng-class="getSortClass('name')"></div>

                          </th>
                          <th ng-click="sortData('name')">DOB
                            <div ng-class="getSortClass('dateOfBirth')"></div>

                          </th>
                          <th ng-click="sortData('gender')">Gender
                            <div ng-class="getSortClass('gender')"></div>

                          </th>
                          <th ng-click="sortData('salary')">Salary(number)
                            <div ng-class="getSortClass('salary')"></div>

                          </th>
                          <th ng-click="sortData('salary')">Salary(currency)
                            <div ng-class="getSortClass('salary')"></div>

                          </th>
                          
                      </tr>
                    </thead>
                    <tbody>
                         <tr ng-repeat="e in emp | orderBy:sortCol:reverseSort">
                               
                            <td>{{e.name  | uppercase}} </td>
                            <td>{{e.dateOfBirth | date:"dd/MM/yyyy"}}</td>
                            <td>{{e.gender | lowercase}}</td>
                            <td>{{e.salary | number:2}}</td>
                            <td>{{e.salary |currency}}</td>
                         </tr>
                    </tbody>
                       
                  </table>
          </div>
          
    </body>
</html>